.harmaatausta {
	text-align: center;
}

.laatikko h2 {
	margin-bottom: 20px;
}

a.ikoni {
	display: inline-block;
	border-radius: 50%;	
	color: #3c3c3c;
	size: 20px;
	font-size: 20px;
}

h1.nimi {
	color: #3c3c3c;
}

.fa {
	display: inline-block;
	size: 20px;
}

.teksti p {
	font-size: 12 px;
}

.laatikko {
	background-color: #eee;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 50px;
	padding-bottom: 50px;
	margin-bottom: 25px;
	border-radius: 10px;
}

.kuva img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
}

td {
	width: 80px;
}
